/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    background-color: #f4f4f4;
  }
  
  /* Header styles */
  header {
    background-color: #263238;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  /* Main styles */
  main {
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #logo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #logo-form p {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #logo-url {
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #logo-url input {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: 2px solid #263238;
    outline: none;
  }
  
  #logo-url button {
    height: 40px;
    width: 120px;
    background-color: #263238;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  #logo-url button:hover {
    background-color: #111;
  }
  
  #result-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .result-box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 20px;
  }
  
  .result-box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .result-box img {
    width: 200px;
    margin-bottom: 10px;
  }
  
  .result-box p {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .container {
    margin-top: 20px;
	max-width: 400px;
	width: 100%;
	background: #fff;
	padding: 30px;
	border-radius: 30px;
}
.img-area {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: #263238;
	color: white;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: #263238;
}


.prediction-result {
    background-color: #e8e7e7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    width: 550px;
    border-radius: 10%;
  }
  
  .prediction-result h3 {
    color: black;
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  .result-container {
    color: black;
    display: flex;
    flex-direction: column;
  }
  
  .result-container p {
    color: black;
    font-size: 18px;
    margin: 0 0 0px;
  }
  
  .result-container span {
    font-weight: bold;
  }
  




  /* Footer styles */
  footer {
    background-color: #263238;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
  footer p {
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    main {
      margin: 20px;
    }
  
    #logo-url input {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  
    #logo-url button {
      width: 100%;
      border-radius: 5px;
    }
  }